<head>
  <style media="screen">
    .favorites-index {
      width: 300px;
      border-radius: 10px;
      background-color: white;
      margin: 0 auto;
      text-align: center;
    }
  </style>
</head>
<div class="favorites-index">
  <h2>応援している人たち</h2>
  <% @favorites.each do |favorite| %>
    <%= attachment_image_tag favorite.user, :profile_image, :fill, 50, 50, fallback: "no-image.jpg", size: "50x50", class: "profile-image" %>
    <%= link_to favorite.user.name, user_path(favorite.user) %><br>
  <% end %>
</div>
