<div class="user-index-field">
  <h3>フォロー</h3>
  <% unless @user.following_user.exists? %>
    <h4>フォローしているユーザーはいません</h4>
  <% else %>
    <% @user.following_user.each do |follower| %>
      <div class="user-image-name">
        <%= attachment_image_tag follower, :profile_image, fallback: "mountain.jpg", class: "profile-image" %>
        <%= link_to follower.name, user_path(follower) %>
      </div>
    <% end %>
  <% end %>
</div>
