<div class="user-index-field">
  <h2>フォロワー</h2>
  <% unless @user.followed_user.exists? %>
    <h4>フォロワーはいません</h4>
  <% else %>
    <% @user.followed_user.each do |followed| %>
      <div class="user-image-name">
        <%= attachment_image_tag followed, :profile_image, fallback: "no-image.jpg", class: "profile-image" %>
        <%= link_to followed.name, user_path(followed) %>
      </div>
    <% end %>
  <% end %>
</div>
