<div class="row">
  <div class="col-md-2">
    <%= render "posts/sidebar" %>
  </div>
  <div class="col-md-10">
    <% @follower_posts.each do |post| %>
      <div id="post_<%= post.id %>", class="post-box">
        <%= render "posts/post", post: post %>
      </div>
    <% end %>
  </div>
</div>
