<div class="row">
  <div class="col-md-3">
    <%= render "posts/sidebar" %>
  </div>
  <div class="col-md-6">
    <h1>フォローしている人たち</h1><br>
    <% @follower.each do |follower| %>
    <% @post = follower.posts.all %>
      <%= render "posts/posts_index", posts: @post %>
    <% end %>
  </div>
</div>
