<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>Life Log</h1>
    <h2>ようこそ、LifeLogへ</h2>
    <h3>
      LifeLogは、あなたが日常で得た気づきや感動したことを記録し、<br>
      行動を習慣化することを手助けするサービスです。<br>
      まずは、日常（Life）を記録（Log）していくことから始めてみませんか。
    </h3><br>

    <h2>LifeLogでできること</h2>
  <div class="contents-box">
    <div class="contents">
      <i class="fas fa-book fa-5x"></i><br>
      日常で経験したこと（本、映画、名言など）を投稿していくことができます。
    </div>
    <div class="contents">
      <i class="fas fa-running fa-5x"></i><br>
      それによって自分が感じたこと、やるべきことなどを目に見えるようにし、
      習慣化することを手助けします。
    </div>
    <div class="contents">
      <i class="far fa-envelope-open fa-5x"></i><br>
      投稿した内容を毎日メールでお知らせします。
    </div>
    <div class="contents">
      <i class="far fa-handshake fa-5x"></i><br>
      他のユーザーをフォローしたり、投稿にいいね、コメントを残したりできます。
    </div>
  </div>

  </div>
</div>
