<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="about-content">
      <h1>Life Log</h1>
      <h2>ようこそ、LifeLogへ</h2>
      <h3>
        LifeLogは、あなたが日常で得た気づきや感動したことを記録し、<br>
        行動を習慣化することを手助けするサービスです。<br>
        まずは、日常（Life）を記録（Log）していくことから始めてみませんか。
      </h3><br>

      <h2>LifeLogでできること</h2>
      <div id="contents-box">
        <div id="theTarget">
          <div class="contents">
            <i class="fas fa-book fa-5x"></i><br>
            日常で経験したこと（本、映画、名言など）を投稿していくことができます。
            投稿は非公開に設定することもできますので、安心して投稿できます。
          </div>
          <div class="contents">
            <i class="fas fa-running fa-5x"></i><br>
            みんなの投稿をみることができます。いいねした投稿のみ表示したり、フォローユーザーの投稿、
            いいねランキングでの表示もできます。
          </div>
          <div class="contents">
            <i class="far fa-envelope-open fa-5x"></i><br>
            投稿した内容を毎日メールでお知らせします。
            メールで送信する投稿を選択でき、メールの配信を停止することもできます。
          </div>
          <div class="contents">
            <i class="far fa-handshake fa-5x"></i><br>
            他のユーザーをフォローしたり、投稿にいいね、コメントを残したりできます。
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
