<h1>Life Log</h1>
<h2>ようこそ、LifeLogへ！</h2>
<h3>早速投稿してみましょう！</h3>
<% if @user_signed_in %>
  <div class="button">
    <%= link_to "投稿してみる", new_post_path, class: "btn btn-default" %>
  </div>
  <div class="action-index">
    <h3>やることリスト</h3>
    <% @posts.each do |post| %>
      <p><%= link_to post.action, post_path(post) %></p>
    <% end %>
  </div>
<% else %>
  <p><%= link_to "ログイン", new_user_session_path, class: "btn btn-default" %></p>
<% end %>
