<div class="wrapper">
  <div class="sidebar">
    <%= render "posts/sidebar" %>
  </div>
  <div class="post-index">
    <% @follower_posts.each do |post| %>
      <div id="post_<%= post.id %>", class="post-box">
        <%= render "posts/post", post: post %>
      </div>
    <% end %>
  </div>
  <span id="back">
    <a href="#">
      <i class="far fa-hand-point-up fa-3x"></i>
    </a>
  </span>
</div>
