<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <%= flash[:success] %>
    <%= flash[:notice] %>
    <%# 投稿の繰り返し表示 %>
    <div class="post_@post_id">
      <%= render "posts/posts_index" %>
    </div>

  </div>
</div>
