<div class="wrapper">
  <div class="sidebar">
    <%= render "sidebar" %>
  </div>
  <div class="post-index">
    <% if @posts.blank? %>
      <p>検索結果なし</p>
    <% else %>
      <% @posts.each do |post| %>
        <div id="post_<%= post.id %>" class="post-box">
          <%= render "posts/post", post: post %>
        </div>
      <% end %>
      <%= paginate @posts, class: "paginate" %>
    <% end %>
  </div>
  <span id="back">
    <a href="#">
      <i class="far fa-hand-point-up fa-3x"></i>
    </a>
  </span>

</div>
