<div class="row">
  <div class="col-md-2">
    <% if user_signed_in? %>
      <%= render "posts/sidebar" %>
    <% end %>
  </div>
  <div class="col-md-10">
    <% if @result.any? %>
    <div class="posts">
      <% @result.each do |result| %>
        <%= render "posts/posts_index", post: result %>
      <% end %>
      <%= paginate @result, class: "paginate" %>
    </div>
    <% elsif @result.blank? %>
      <p>検索結果なし</p>
    <% end %>
  </div>
</div>
