// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1, h2, h3 {
  text-align: center;
}

.button {
  margin: 20px auto;
  text-align: center;
}

.action-index {
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  width: 500px;
  height: auto;
  text-align: center;
  border-radius: 10px;
}
