// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1, h2, h3, p, a {
  text-align: center;
}

body {
}

.btn {
  margin: 0 auto;
  text-align: center;
}

.action-index {
  margin: 50px auto;
  padding: 20px;
  background-color: white;
  width: 500px;
  height: auto;
  text-align: center;
  border-radius: 10px;
}

.contents-box {
  display: flex;
  justify-content: space-around;
  align-items: center;

  .contents {
    text-align: center;
    margin: 10px;
    width: 100%;
  }
}

@media screen and (max-width:425px) {
  .row {

    .contents-box {
      display: flex;
      flex-direction: column;
      align-items: center;

      .contents {
        margin-bottom: 30px;
      }
    }
  }

}
