// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// require posts.scss
@import "font-awesome-sprockets";
@import "font-awesome";

h4 {
  display: inline-block;
  border-bottom: 1px gray solid;
}

a {
  color: black;
  &:hover {
    border-bottom: none
  }
}

.wrapper {
  width: 100%;
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;

  // 投稿一覧画面のサイドバー
  .sidebar {
    width: 20%;
    background-color: white;
    border-radius: 10px;
    height: auto;
    text-align: center;
    padding: 5px;
    margin-right: 100px;
    position: fixed;
    top: 120px;
    left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    // 検索窓
    .search-box {
      .search-form {
        border: 1px gray solid;
      }
    }
    li {
      list-style: none;
    }
  }

  .post-index {
    width: 50%;
    height: auto;
    .post-box {
      height: auto;
      padding: 10px;
      margin-bottom: 10px;
      border-radius: 7px;
      background-color: white;
      border-bottom: 1px solid gray;
      text-align: center;
      &:last-child {
        margin-bottom: 50px;
      }
      .word-title {
        color: gray;
        font-family: "Comic Sans MS", "arial unicode ms";
      }
      .action-title a {
        color: gray;
        font-family: "Comic Sans MS", "arial unicode ms";
      }
      .cheer-message {
        color: gray;
      }
    }
  }
}

// 投稿画面
.form-box {
  padding: 10px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
// 入力フォームのボックス
.field {
  margin-bottom: 20px;
}
// 入力フォーム
.form {
  width: 500px;
  border: 1px solid black;
}

.genre-name {
  border: 2px solid gray;
  border-bottom: none;
  padding: 5px 5px 0 5px;
  border-radius: 7px;
}

.post-box-show {
    width: 600px;
    padding: 10px;
    margin: 10px auto;
    border-radius: 7px;
    background-color: white;
    border-bottom: 1px solid gray;
    text-align: center;
}

.post-date {
  color: gray;
}

.page-point {
  color: red;
}

@media screen and (max-width:425px) {
  .container {
    width: 100%;

    .wrapper {
      width: 100%;
      margin: 10px auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      // 投稿一覧画面
      .sidebar {
        width: 90%;
        position: relative;
        top: 5px;
        margin-bottom: 5px;
        height: auto;
      }

      .post-index {
        width: 90%;
        margin-top: 10px;

        .post-box {
          width: 100%;
          position: none;
        }
      }
      // 投稿詳細画面
      .post-box-show {
        width: 100%;
        align-self: center;
      }
    }

    .form {
      width: 200px;
      margin: 0 auto;
      text-align: center;
    }

    .field {
      width: 100%;
      margin: 0;
    }

    .top-content {
      width: 90%;

      .action-index {
        width: 100%;
      }
    }
  }
}
