// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color:rgba(146,153,156,0.7);
  background-image: url(bird_island.jpg);
  background-size: cover;

}

h4 {
  display: inline-block;
  border-bottom: 1px gray solid;
}

a {
  color: black;
  &:hover {
    text-decoration: none;
  }
}

.sidebar {
  width: 200px;
  background-color: white;
  border-radius: 10px;
  height: 450px;
  text-align: center;
  padding: 25px;
  
}

.form-box {
  border-bottom: 1px solid gray;
  padding: 10px;
}

.sidebar_link {
  padding: 10px;
}

.field {
  margin-bottom: 20px;
}
.form {
  width: 500px;
  border: 1px solid gray;
}

.genre-name {
  border: 2px solid gray;
  border-bottom: none;
  padding: 5px 5px 0 5px;
  border-radius: 7px;
}

.post-box {
  width: 80%;
  height: auto;
  padding: 10px;
  margin: 10px auto;
  border-radius: 7px;
  background-color: white;
  border-bottom: 1px solid gray;
  text-align: center;
  position: relative;
  right: 15px;
  &:last-child {
    margin-bottom: 50px;
  }
}

.post-box-show {
    width: 600px;
    padding: 10px;
    margin: 10px auto;
    border-radius: 7px;
    background-color: white;
    border-bottom: 1px solid gray;
    text-align: center;
    position: relative;
    right: 15px;
}

.post-date {
  color: gray;

}

@media screen and (max-width:425px) {
  .post-box {
    width: 170%;
  }

  .form {
    width: 200px;
    margin: 0 auto;
    text-align: center;
  }

  .post-date {
    position: absolute;
    bottom: 5px;
  }
}
