// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wrapper {
  display: flex;
}

.profile-box {
  border-radius: 10px;
  background-color: white;
  position: absolute;
  left: 50px;
  top: 130px;
  width: 30%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mailer-list {
  text-align: center;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}


.registration-box {
  margin: 0 auto;
}

.field {
  margin: 0 auto;
}

// フォロー・フォロワー一覧画面
.user-index-field {
  width: 50%;
  background-color: white;
  border-radius: 10px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
}
.user-image-name {
  margin-bottom: 10px;
}

@media screen and (max-width:425px) {
  .profile-box {
    width: 90%;
    margin: 0;
    position: relative;
    left: 0px;
    top: 0px;
  }
  .profile-image {
    width: 100%;
  }

  .mailer-list {
    padding: 0px;
  }
}
