// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wrapper {
  display: flex;

  .profile-box {
    border-radius: 10px;
    background-color: white;
    width: 30%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mailer-list {
    text-align: center;
    padding: 20px;
    margin: 20px 0;
    background-color: white;
    border-radius: 10px;
  }

  .post-index {
    width: 60%;
  }

}


.registration-box {
  margin: 0 auto;
}

.field {
  margin: 0 auto;
}

@media screen and (max-width:425px) {
  .wrapper {
    width: 90%;
    height: auto;
  }

  .navbar {
    width: 120%;
  }

  .container {
    width: 100%;
  }

  .field {
    font-size: 10px;
    width: 50px;
    margin: 0 auto;
  }

  .actions {
    width: 30px;
    margin: 0 auto;
    margin-top: 10px;
  }

  a {
    text-align: center;
  }
}

@media screen and (max-width:425px) {
  .wrapper {
    display: flex;
    flex-direction: column;

    .profile-box {
      width: 100%;
    }
  }
}
