<footer class="footer">
  <p>
    ©Infratop.inc
    <span class="inquiry-link">
      <%= link_to '管理者へお問い合わせ', new_inquiry_path %>
      <%= link_to '管理者ログイン', new_admin_session_path %>
    </span>

  </p>

</footer>
